body {
	background-color: #ffd7d4;
	font-family: OpenSans, sans-serif;
	text-align: center;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.25);
	font-size: .8em;
	text-transform: uppercase;
}

.navbar-brand {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.backdrop {
	background-image: url('images/background_image.png');
	background-size: cover;
	padding-bottom: 5rem;
}

.pin-icon {
	padding-bottom: 2rem;
	margin: auto;
	width: auto;
	height: 225px;
}

.title-info {
	color: #d8d8d8;
	font-weight: 300;
	line-height: 1.6;
	margin: 4rem;
}

.title {
	color: #1a1a1a;
	font-size: 2em;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
}

.title-top {
	color: #ffffff;
	font-size: 2.5em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.feature-title {
	color: #1a1a1a;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 0.95;
	padding-top: 2rem;
	padding-bottom: .5rem;
}

.section-wrapper {
	padding: 5rem 1rem;
}

.desc {
	color: #646464;
	font-size: 1em;
	line-height: 1.6;
	margin: auto;
	width: 45%;
}

.feature-desc {
	color: #646464;
	font-size: .75em;
	font-weight: 300;
	line-height: 2.13;
}

.feature-thumbnail,
.team-pic {
	background-size: 100%;
	height: 150px;
	width: 150px;
	margin: auto;
}

.computer-thumbnail {
	background-image: url('images/computer_icon.png');
}

.customize-thumbnail {
	background-image: url('images/customize_icon.png');
}

.responsive-thumbnail {
	background-image: url('images/responsive_icon.png');
}

.team,
.portfolio {
	background-color: #ffffff;
	margin-bottom: 1rem;
	padding-top: 4rem;
}

.team-pics {
	color: #000000;
	margin: auto;
	padding-top: 3rem;
	padding-bottom: 3em;
	width: 70%;
}

.team-pic {
	margin-bottom: 1rem;
}

.john {
	background-image: url('images/John.png');
}

.adam {
	background-image: url('images/Adam.png');
}

.kevi {
	background-image: url('images/Kevi.png');
}

.vicky {
	background-image: url('images/Vicky.png');
}

.quote {
	background-color: #d8d8d8;
	color: #000000;
	font-size: 1.5em;
	margin: 0;
	padding: 4em 0;
}

.quote-author {
	font-size: .65em;
	text-transform: uppercase;
}

.quote-container {
	width: 52%;
}

.button-container {
	margin: 5rem 0;
}

.active {
	background-color: #e54b44;
	box-shadow: #e54b44;
}

.my-btn {
	background-color: #ffffff;
	border: solid 1px #e54b44;
	border-radius: 0;
	color: #4a4a4a;
	margin: .25rem .75rem;
	transition:
		color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.gallery {
	margin: auto;
	width: 85%;
}

.gallery-img {
	width: 270px;
	height: 210px;
	margin: .75rem;
}

footer {
	margin: 3.5rem auto;
}

.contact {
	background-image: url('images/contact_image.png');
	background-size: cover;
	padding: 3.5rem 0;
}

.contact-form {
	margin: auto;
	width: 35%;
}


.form-control {
	color: #c8c5c5;
	font-style: italic;
	margin: 1rem 0;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.btn {
	border-radius: 0;
	width: 180px;
}

.social-icon {
	height: 25px;
	width: 25px;
	margin: .5rem
}
