body {
	background-color: #ffd7d4;
	border-radius: 0;
	font-family: OpenSans, sans-serif;
	margin: auto;
	text-align: center;
}

.navbar-brand-light {
	font-size: 2.25em;
	font-weight: 300;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.25);
	height: 100px;
	font-size: .875em;
	text-transform: uppercase;
}

.backdrop {
	background-image: url('images/background_image.png');
	background-size: cover;
	max-width: 100%;
	height: auto;
	padding: 5rem 0;
}

.pin {
	max-width: 100%;
	height: auto;
	padding-bottom: 2.5rem;
}

.title {
	color: #222222;
	font-size: 2.25em;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.title-top {
	color: #ffffff;
	font-size: 3em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.title-info {
	color: #d8d8d8;
	font-weight: 300;
	line-height: 1.6;
	padding-top: .5rem;
	margin: auto;
	max-width: 85%;
}

.feature-title {
	color: #222222;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 0.95;
	padding-top: 2rem;
	padding-bottom: .5rem;
}

.section-wrapper {
	padding: 8rem 0;
}

.desc {
	color: #777777;
	font-size: 1em;
	line-height: 2.25;
	margin: auto;
	max-width: 85%;
	padding-bottom: 2rem;
}

.feature-desc {
	color: #777777;
	font-size: .75em;
	font-weight: 300;
	line-height: 2.13;
}

.feature-thumbnail,
.team-pic {
	background-size: cover;
	height: auto;
	max-width: 100%;
	margin: auto;
}

.features {
	margin: 3rem auto;
}

.team-pic {
	margin-bottom: 1rem;
}

.team-pic-container {
	padding: 1rem;
}

.team,
.portfolio {
	background-color: #ffffff;
	margin-bottom: 1.5rem;
	padding-top: 6rem;
}

.team-pics {
	color: #000000;
	margin: auto;
	padding-top: 3rem;
	padding-bottom: 3em;
}

.quote {
	background-color: rgba(216, 216, 216, 0.14);
	color: #000000;
	font-size: 2em;
	margin: 0;
	padding: 8rem 0;
	font-weight: 300;
}

.quote-author {
	font-size: .65em;
	text-transform: uppercase;
}

.quote-container {
	max-width: 70%;
	text-align: center;
	line-height: 2.5;
}

.button-container {
	margin: 4rem 0;
}

.btn {
	border-radius: 0;
	width: 180px;
	padding: .75rem;
}

.my-btn {
	background-color: #ffffff;
	border: solid 1px #e54b44;
	color: #4a4a4a;
	margin: .5rem;
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active,
.my-btn.active,
.open>.dropdown-toggle.my-btn {
	border: solid 1px #e54b44;
	background: #e54b44;
	box-shadow: none;
}

.gallery-img {
	max-width: 100%;
	height: auto;
	padding: 1rem 0;
}

.contact {
	background-image: url('images/contact_image.png');
	background-size: cover;
	padding: 6rem 0 3rem 0;
}

.contact-desc {
	max-width: 100%;
	font-weight: 300;
	line-height: 2.1;
	padding-bottom: 0;
	color: #000000;
}

.form-control {
	color: #c8c5c5;
	font-style: italic;
	margin: 2rem auto;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.form-control:hover,
.form-control:focus,
.form-control:active,
.form-control.active,
.open>.dropdown-toggle.form-control {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.45);
}

footer {
	margin: 7rem auto;
}

.social-icon {
	max-width: 100%;
	height: auto;
	margin: 1rem;
}

.form-container {
	margin: auto;
	max-width: 85%;
}

.contact-form {
	max-width: 90%;
	margin: auto;
}

@media (min-width: 768px) {
	.quote-container {
		text-align: right;
	}
	.form-container {
		max-width: 55%;
	}
	.desc {
		max-width: 55%;
	}
}

/*@media only screen and (min-width : 992px) {
	.dropdown:hover>.dropdown-menu {
	  display: block;
	}
	.dropdown>.dropdown-toggle:active {
	    pointer-events: none;
	}*/
